USE [master]
GO
/****** Object:  Database [FOREX]    Script Date: 19-02-2023 12:31:19 ******/
CREATE DATABASE [FOREX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FOREX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\FOREX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FOREX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\FOREX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FOREX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FOREX]
GO
/****** Object:  UserDefinedTableType [dbo].[BookingBuySell]    Script Date: 19-02-2023 12:31:19 ******/
CREATE TYPE [dbo].[BookingBuySell] AS TABLE(
	[BOOKING_NO] [varchar](50) NOT NULL,
	[Currency_Code] [varchar](50) NULL,
	[Forex_Quantity] [int] NULL,
	[Product_Id] [int] NULL,
	[Rate] [float] NULL,
	[CURRENT_RATE] [float] NULL,
	[COMM_COMPANY] [float] NULL,
	[COMM_DREAM] [float] NULL,
	[AMOUNT_TOTAL] [float] NULL,
	[AMOUNT_COMPANY] [float] NULL,
	[AMOUNT_DREAM] [float] NULL,
	[RATE_TO_CLIENT] [float] NULL,
	[LOGIN_ID] [int] NOT NULL
)
GO
/****** Object:  Table [dbo].[AUDIT_LOG]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_LOG](
	[AUDIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_ID] [int] NULL,
	[DT_STAMP] [datetime] NULL,
	[LOCAL_IP] [varchar](50) NULL,
	[GLOBAL_IP] [varchar](50) NULL,
	[DESCRIPTION] [varchar](500) NULL,
 CONSTRAINT [PK_AUDIT_LOG] PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HSN]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HSN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HSNCODE] [varchar](10) NULL,
	[CGST] [int] NULL,
	[SGST] [int] NULL,
	[IGST] [int] NULL,
 CONSTRAINT [PK_HSN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_SERIAL_NO] [int] NULL,
	[DT_INVOICE] [datetime] NULL,
	[BOOKING_NO] [varchar](50) NULL,
	[DT_BOOKING] [datetime] NULL,
	[BOOKING_FLAG] [char](1) NULL,
	[LOGIN_ID] [int] NULL,
	[AMOUNT_TOTAL] [decimal](18, 4) NULL,
	[CGST] [decimal](18, 4) NULL,
	[SGST] [decimal](18, 4) NULL,
	[IGST] [decimal](18, 0) NULL,
	[HSNID] [int] NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_SUB]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_SUB](
	[INVOICE_SUB_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_CODE] [char](3) NULL,
	[FX_QTY] [int] NULL,
	[INVOICE_ID] [int] NULL,
	[PROD_ID] [int] NULL,
	[RATE_TO_CLIENT] [decimal](18, 4) NULL,
	[CURRENT_RATE] [decimal](18, 4) NULL,
	[COMM_COMPANY] [decimal](18, 4) NULL,
	[COMM_DREAM] [decimal](18, 4) NULL,
	[AMOUNT_TOTAL] [decimal](18, 4) NULL,
	[AMOUNT_COMPANY] [decimal](18, 4) NULL,
	[AMOUNT_DREAM] [decimal](18, 4) NULL,
	[BOOKING_FLAG] [char](1) NULL,
 CONSTRAINT [PK_INVOICE_SUB] PRIMARY KEY CLUSTERED 
(
	[INVOICE_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVE_CURR_RATE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVE_CURR_RATE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_CODE] [varchar](10) NULL,
	[CURR_RATE] [decimal](18, 4) NULL,
	[DT_UPD] [smalldatetime] NULL,
	[CURR_RATE_INR] [decimal](18, 4) NULL,
 CONSTRAINT [PK_LIVE_CURR_RATE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_BUSINESS_TYPE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BUSINESS_TYPE](
	[BUSINESS_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUSINESS_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK_MST_BUSINESS] PRIMARY KEY CLUSTERED 
(
	[BUSINESS_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_CITY]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CITY](
	[CITY_ID] [int] NOT NULL,
	[CITY_NAME] [varchar](100) NULL,
	[STATE_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_COMP_MARKUP]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COMP_MARKUP](
	[COMP_MARKUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_CODE] [char](3) NULL,
	[CASH_BUY] [float] NULL,
	[CASH_SELL] [float] NULL,
	[ONLINE_BUY] [float] NULL,
	[ONLINE_SELL] [float] NULL,
 CONSTRAINT [PK_MST_COMP_MARKUP] PRIMARY KEY CLUSTERED 
(
	[COMP_MARKUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_COMPANY]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COMPANY](
	[COMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMP_NAME] [varchar](100) NULL,
	[COMP_ADDRESS_1] [varchar](100) NULL,
	[COMP_ADDRESS_2] [varchar](100) NULL,
	[STATE_ID] [int] NULL,
	[CITY_ID] [int] NULL,
	[PIN] [char](6) NULL,
	[EMAIL] [varchar](100) NULL,
	[PHONE] [varchar](50) NULL,
	[COMP_WEBSITE] [varchar](100) NULL,
	[GSTIN] [varchar](50) NULL,
	[CIN] [varchar](50) NULL,
	[RBI_LIC_NO] [varchar](50) NULL,
 CONSTRAINT [PK_MST_COMPANY] PRIMARY KEY CLUSTERED 
(
	[COMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_COUNTRY]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_COUNTRY](
	[COUNTRY_ID] [int] NULL,
	[COUNTRY_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_CURRENCY]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CURRENCY](
	[CURR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_NAME] [varchar](50) NULL,
	[CURR_CODE] [varchar](5) NULL,
	[COUNTRY_NAME] [varchar](75) NULL,
	[ACTIVE] [bit] NULL,
	[MAX_QTY] [int] NOT NULL,
 CONSTRAINT [PK_MST_CURRENCY] PRIMARY KEY CLUSTERED 
(
	[CURR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_DREAM_MARKUP]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_DREAM_MARKUP](
	[DREAM_MARKUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_CODE] [char](3) NULL,
	[ONLINE_DRM] [decimal](18, 4) NULL,
	[CASH_DRM] [decimal](18, 4) NULL,
 CONSTRAINT [PK_MST_DREAM_MARKUP] PRIMARY KEY CLUSTERED 
(
	[DREAM_MARKUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_INVOICE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_INVOICE](
	[INVOICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INV_NO] [varchar](50) NULL,
	[BUSINESS_TYPE_ID] [int] NULL,
	[ORDER_NO] [int] NULL,
	[CURR_ID] [int] NULL,
	[QTY] [int] NULL,
	[RATE_TO_CLIENT] [decimal](18, 4) NULL,
	[GROSS] [decimal](18, 4) NULL,
	[CGST] [decimal](18, 4) NULL,
	[SGST] [decimal](18, 4) NULL,
	[IGST] [decimal](18, 4) NULL,
	[GRAND_TOTAL] [decimal](18, 4) NULL,
 CONSTRAINT [PK_MST_INVOICE] PRIMARY KEY CLUSTERED 
(
	[INVOICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_OFFICE_USER]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_OFFICE_USER](
	[OFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[OFF_USER_NAME] [varchar](50) NULL,
	[OFF_NAME] [varchar](50) NULL,
	[PWDHASH] [binary](64) NULL,
	[SALT] [uniqueidentifier] NULL,
	[MOBILENO] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[DT_UPD] [datetime] NULL,
 CONSTRAINT [PK_MST_OFFICE_USER] PRIMARY KEY CLUSTERED 
(
	[OFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_PRODUCT]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_PRODUCT](
	[PROD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURPOSE] [varchar](50) NULL,
	[PROD_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_MST_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_SERVICE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_SERVICE](
	[SERV_ID] [int] IDENTITY(1,1) NOT NULL,
	[SERV_TYPE] [varbinary](50) NULL,
 CONSTRAINT [PK_MST_SERVICE] PRIMARY KEY CLUSTERED 
(
	[SERV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_STATE]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_STATE](
	[STATE_ID] [int] NOT NULL,
	[STATE_NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_USER]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER](
	[LOGIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_NAME] [varchar](50) NULL,
	[MEM_NAME] [varchar](50) NULL,
	[PWDHASH] [binary](64) NULL,
	[SALT] [uniqueidentifier] NULL,
	[MOBILENO] [varchar](50) NULL,
	[EMAILID] [varchar](50) NULL,
	[OTP_MODE] [char](1) NULL,
	[OTP] [varchar](10) NULL,
	[DT_OTP] [datetime] NULL,
	[VERIFIED] [bit] NULL,
 CONSTRAINT [PK_MST_CLIENT] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_USER_MEMBER]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_USER_MEMBER](
	[MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_ID] [int] NULL,
	[MEM_NAME] [varchar](50) NULL,
	[MEM_GENDER] [varchar](5) NULL,
	[MEM_MOBILE] [varchar](50) NULL,
	[MEM_EMAIL] [varchar](50) NULL,
	[MEM_ADD1] [varchar](50) NULL,
	[MEM_ADD2] [varchar](50) NULL,
	[STATE_ID] [int] NULL,
	[CITY_ID] [int] NULL,
	[PIN] [varchar](6) NULL,
	[PAN_NO] [varchar](50) NULL,
	[PAN_FILE_NAME] [varchar](50) NULL,
	[PASSPORT_NO] [varchar](50) NULL,
	[PASSPORT_FILE_NAME] [varchar](50) NULL,
	[GSTIN_UIN] [varchar](50) NULL,
	[COUNTRY_ID] [int] NULL,
	[DT_REGN] [datetime] NULL,
 CONSTRAINT [PK_MST_MEMBER] PRIMARY KEY CLUSTERED 
(
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT-DETAILS]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT-DETAILS](
	[PAY_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_ID] [varchar](50) NULL,
	[PAY_MODE] [varchar](50) NULL,
	[PAY_DT] [datetime] NULL,
	[CHQ_TRANS_DET] [varchar](50) NULL,
	[BANK] [varchar](50) NULL,
	[AMOUNT] [decimal](18, 4) NULL,
	[DT_UPD] [datetime] NULL,
 CONSTRAINT [PK_PAYMENT-DETAILS] PRIMARY KEY CLUSTERED 
(
	[PAY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_BUY]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_BUY](
	[BUY_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_NO] [varchar](50) NULL,
	[DT_BOOKING] [datetime] NULL,
	[LOGIN_ID] [int] NULL,
	[ONLINE_TRANS_ID] [varchar](75) NULL,
	[AMT_ONLINE] [decimal](18, 4) NULL,
	[INVOICE_ID] [int] NULL,
	[DT_INVOICE] [datetime] NULL,
	[AMT_ADVANCE] [decimal](18, 4) NULL,
	[DT_ADVANCE] [nchar](10) NULL,
	[FX_AMT] [decimal](18, 4) NULL,
	[CGST] [decimal](18, 4) NULL,
	[SGST] [decimal](18, 4) NULL,
	[IGST] [decimal](18, 4) NULL,
	[TOT_AMOUNT] [decimal](18, 4) NULL,
	[PAYMENT_MODE] [varchar](50) NULL,
	[PAYMENT_AMOUNT] [decimal](18, 4) NULL,
	[DT_PAYMENT] [datetime] NULL,
	[CHQ_TRANS_NO] [varchar](50) NULL,
	[BANKNAME] [varchar](50) NULL,
	[PROCEEDTO] [varchar](100) NULL,
	[DT_PAY_UPD] [datetime] NULL,
	[DEAL_CLOSED] [bit] NULL,
 CONSTRAINT [PK_TRN_BUY] PRIMARY KEY CLUSTERED 
(
	[BUY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_BUY_SUB]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_BUY_SUB](
	[BUY_SUB_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUY_ID] [int] NULL,
	[CURR_CODE] [char](3) NULL,
	[PROD_ID] [int] NULL,
	[FX_QTY] [int] NULL,
	[FX_QTY_NEW] [int] NULL,
	[RATE_TO_CLIENT] [decimal](18, 4) NULL,
	[CURRENT_RATE] [decimal](18, 4) NULL,
	[COMM_COMPANY] [decimal](18, 4) NULL,
	[COMM_DREAM] [decimal](18, 4) NULL,
	[AMOUNT_TOTAL] [decimal](18, 4) NULL,
	[AMOUNT_COMPANY] [decimal](18, 4) NULL,
	[AMOUNT_DREAM] [decimal](18, 4) NULL,
	[BOOKING_FLAG] [char](1) NULL,
	[DT_UPD] [datetime] NULL,
	[AMOUNT_TOTAL_INVOICE] [decimal](18, 4) NULL,
	[AMOUNT_COMPANY_INVOICE] [decimal](18, 4) NULL,
	[RATE_TO_CLIENT_INVOICE] [decimal](18, 4) NULL,
 CONSTRAINT [PK_TRN_BUY_SUB] PRIMARY KEY CLUSTERED 
(
	[BUY_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_CURR_RATES]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_CURR_RATES](
	[CRT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CURR_ID] [int] NULL,
	[CURR_RATE] [decimal](18, 4) NULL,
	[CURR_STAMP] [datetime] NULL,
	[RATE_BUY] [float] NULL,
	[RATE_SELL_CASH] [float] NULL,
	[RATE_SELL_CARD] [float] NULL,
	[RATE_REMIT_WIRE] [float] NULL,
 CONSTRAINT [PK_TRN_CURR_RATES] PRIMARY KEY CLUSTERED 
(
	[CRT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_SELL]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_SELL](
	[SELL_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_NO] [varchar](50) NULL,
	[DT_BOOKING] [datetime] NULL,
	[LOGIN_ID] [int] NULL,
	[ONLINE_TRANS_ID] [varchar](75) NULL,
	[AMT_ONLINE] [decimal](18, 4) NULL,
	[INVOICE_ID] [int] NULL,
	[DT_INVOICE] [datetime] NULL,
	[AMT_ADVANCE] [decimal](18, 4) NULL,
	[DT_ADVANCE] [nchar](10) NULL,
	[FX_AMT] [decimal](18, 4) NULL,
	[CGST] [decimal](18, 4) NULL,
	[SGST] [decimal](18, 4) NULL,
	[IGST] [decimal](18, 4) NULL,
	[TOT_AMOUNT] [decimal](18, 4) NULL,
	[PAYMENT_MODE] [varchar](50) NULL,
	[PAYMENT_AMOUNT] [decimal](18, 4) NULL,
	[DT_PAYMENT] [datetime] NULL,
	[CHQ_TRANS_NO] [varchar](50) NULL,
	[BANKNAME] [varchar](50) NULL,
	[PROCEEDTO] [varchar](100) NULL,
	[DT_PAY_UPD] [datetime] NULL,
	[DEAL_CLOSED] [bit] NULL,
 CONSTRAINT [PK_TRN_SELL_1] PRIMARY KEY CLUSTERED 
(
	[SELL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_SELL_SUB]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_SELL_SUB](
	[SELL_SUB_ID] [int] IDENTITY(1,1) NOT NULL,
	[SELL_ID] [int] NULL,
	[CURR_CODE] [char](3) NULL,
	[PROD_ID] [int] NULL,
	[FX_QTY] [int] NULL,
	[FX_QTY_NEW] [int] NULL,
	[RATE_TO_CLIENT] [decimal](18, 4) NULL,
	[CURRENT_RATE] [decimal](18, 4) NULL,
	[COMM_COMPANY] [decimal](18, 4) NULL,
	[COMM_DREAM] [decimal](18, 4) NULL,
	[AMOUNT_TOTAL] [decimal](18, 4) NULL,
	[AMOUNT_COMPANY] [decimal](18, 4) NULL,
	[AMOUNT_DREAM] [decimal](18, 4) NULL,
	[BOOKING_FLAG] [char](1) NULL,
	[DT_UPD] [datetime] NULL,
	[AMOUNT_TOTAL_INVOICE] [decimal](18, 4) NULL,
	[AMOUNT_COMPANY_INVOICE] [decimal](18, 4) NULL,
	[RATE_TO_CLIENT_INVOICE] [decimal](18, 4) NULL,
 CONSTRAINT [PK_TRN_SELL_SUB_1] PRIMARY KEY CLUSTERED 
(
	[SELL_SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRN_VISA]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_VISA](
	[VISA_ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOKING_NO] [varchar](50) NULL,
	[DT_BOOKING] [datetime] NULL,
	[LOGIN_ID] [int] NULL,
	[COUNTRY_ID] [int] NULL,
	[PROD_ID] [int] NULL,
	[AMOUNT_TOTAL] [float] NULL,
	[AMOUNT_COMPANY] [float] NULL,
	[AMOUNT_DREAM] [float] NULL,
	[INVOICE_ID] [int] NULL,
	[DT_INVOICE] [datetime] NULL,
	[VISA_REMARKS] [varchar](500) NULL,
 CONSTRAINT [PK_MST_VISA] PRIMARY KEY CLUSTERED 
(
	[VISA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HSN] ON 

INSERT [dbo].[HSN] ([ID], [HSNCODE], [CGST], [SGST], [IGST]) VALUES (1, N'997157', 9, 9, 18)
SET IDENTITY_INSERT [dbo].[HSN] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICE] ON 

INSERT [dbo].[INVOICE] ([INVOICE_ID], [INVOICE_SERIAL_NO], [DT_INVOICE], [BOOKING_NO], [DT_BOOKING], [BOOKING_FLAG], [LOGIN_ID], [AMOUNT_TOTAL], [CGST], [SGST], [IGST], [HSNID]) VALUES (1015, 1, CAST(N'2023-02-12T22:30:49.000' AS DateTime), N'B2646620230212222934885', NULL, N'T', 5, CAST(229.0000 AS Decimal(18, 4)), CAST(45.0000 AS Decimal(18, 4)), CAST(45.0000 AS Decimal(18, 4)), CAST(0 AS Decimal(18, 0)), 997157)
INSERT [dbo].[INVOICE] ([INVOICE_ID], [INVOICE_SERIAL_NO], [DT_INVOICE], [BOOKING_NO], [DT_BOOKING], [BOOKING_FLAG], [LOGIN_ID], [AMOUNT_TOTAL], [CGST], [SGST], [IGST], [HSNID]) VALUES (1016, 2, CAST(N'2023-02-12T22:33:28.000' AS DateTime), N'S5801820230212222958991', NULL, N'T', 5, CAST(361.0000 AS Decimal(18, 4)), CAST(45.0000 AS Decimal(18, 4)), CAST(45.0000 AS Decimal(18, 4)), CAST(0 AS Decimal(18, 0)), 997157)
INSERT [dbo].[INVOICE] ([INVOICE_ID], [INVOICE_SERIAL_NO], [DT_INVOICE], [BOOKING_NO], [DT_BOOKING], [BOOKING_FLAG], [LOGIN_ID], [AMOUNT_TOTAL], [CGST], [SGST], [IGST], [HSNID]) VALUES (1017, 3, CAST(N'2023-02-12T22:45:10.000' AS DateTime), N'B2719220230212224309169', NULL, N'T', 5, CAST(76963.0000 AS Decimal(18, 4)), CAST(5870.0000 AS Decimal(18, 4)), CAST(5870.0000 AS Decimal(18, 4)), CAST(0 AS Decimal(18, 0)), 997157)
SET IDENTITY_INSERT [dbo].[INVOICE] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICE_SUB] ON 

INSERT [dbo].[INVOICE_SUB] ([INVOICE_SUB_ID], [CURR_CODE], [FX_QTY], [INVOICE_ID], [PROD_ID], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM], [BOOKING_FLAG]) VALUES (13, N'AUD', 1, 1, 1, CAST(57.0500 AS Decimal(18, 4)), CAST(56.3600 AS Decimal(18, 4)), CAST(0.4000 AS Decimal(18, 4)), CAST(0.3000 AS Decimal(18, 4)), CAST(57.0500 AS Decimal(18, 4)), CAST(0.4000 AS Decimal(18, 4)), CAST(0.3000 AS Decimal(18, 4)), N'1')
INSERT [dbo].[INVOICE_SUB] ([INVOICE_SUB_ID], [CURR_CODE], [FX_QTY], [INVOICE_ID], [PROD_ID], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM], [BOOKING_FLAG]) VALUES (14, N'USD', 1, 1, 2, CAST(81.6250 AS Decimal(18, 4)), CAST(80.9300 AS Decimal(18, 4)), CAST(0.5000 AS Decimal(18, 4)), CAST(0.2000 AS Decimal(18, 4)), CAST(81.6250 AS Decimal(18, 4)), CAST(0.5000 AS Decimal(18, 4)), CAST(0.2000 AS Decimal(18, 4)), N'1')
INSERT [dbo].[INVOICE_SUB] ([INVOICE_SUB_ID], [CURR_CODE], [FX_QTY], [INVOICE_ID], [PROD_ID], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM], [BOOKING_FLAG]) VALUES (15, N'AUD', 2, 2, 3, CAST(55.3500 AS Decimal(18, 4)), CAST(56.3600 AS Decimal(18, 4)), CAST(0.7000 AS Decimal(18, 4)), CAST(0.3000 AS Decimal(18, 4)), CAST(110.7000 AS Decimal(18, 4)), CAST(1.4000 AS Decimal(18, 4)), CAST(0.6000 AS Decimal(18, 4)), N'1')
SET IDENTITY_INSERT [dbo].[INVOICE_SUB] OFF
GO
SET IDENTITY_INSERT [dbo].[LIVE_CURR_RATE] ON 

INSERT [dbo].[LIVE_CURR_RATE] ([ID], [CURR_CODE], [CURR_RATE], [DT_UPD], [CURR_RATE_INR]) VALUES (1, N'AED', CAST(3.6710 AS Decimal(18, 4)), CAST(N'2023-01-22T19:19:00' AS SmallDateTime), CAST(22.0467 AS Decimal(18, 4)))
INSERT [dbo].[LIVE_CURR_RATE] ([ID], [CURR_CODE], [CURR_RATE], [DT_UPD], [CURR_RATE_INR]) VALUES (2, N'AUD', CAST(1.4360 AS Decimal(18, 4)), CAST(N'2023-01-22T19:19:00' AS SmallDateTime), CAST(56.3603 AS Decimal(18, 4)))
INSERT [dbo].[LIVE_CURR_RATE] ([ID], [CURR_CODE], [CURR_RATE], [DT_UPD], [CURR_RATE_INR]) VALUES (3, N'BHD', CAST(0.3773 AS Decimal(18, 4)), CAST(N'2023-01-22T19:19:00' AS SmallDateTime), CAST(214.5068 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[LIVE_CURR_RATE] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_BUSINESS_TYPE] ON 

INSERT [dbo].[MST_BUSINESS_TYPE] ([BUSINESS_TYPE_ID], [BUSINESS_TYPE]) VALUES (1, N'BUY')
INSERT [dbo].[MST_BUSINESS_TYPE] ([BUSINESS_TYPE_ID], [BUSINESS_TYPE]) VALUES (2, N'SELL')
INSERT [dbo].[MST_BUSINESS_TYPE] ([BUSINESS_TYPE_ID], [BUSINESS_TYPE]) VALUES (3, N'VISA')
SET IDENTITY_INSERT [dbo].[MST_BUSINESS_TYPE] OFF
GO
INSERT [dbo].[MST_CITY] ([CITY_ID], [CITY_NAME], [STATE_ID]) VALUES (1, N'Kolhapur', 21)
INSERT [dbo].[MST_CITY] ([CITY_ID], [CITY_NAME], [STATE_ID]) VALUES (2, N'Port Blair', 1)
INSERT [dbo].[MST_CITY] ([CITY_ID], [CITY_NAME], [STATE_ID]) VALUES (3, N'Adilabad', 32)
GO
SET IDENTITY_INSERT [dbo].[MST_COMP_MARKUP] ON 

INSERT [dbo].[MST_COMP_MARKUP] ([COMP_MARKUP_ID], [CURR_CODE], [CASH_BUY], [CASH_SELL], [ONLINE_BUY], [ONLINE_SELL]) VALUES (1, N'USD', 0.5, 0.6, 0.5, 0.6)
INSERT [dbo].[MST_COMP_MARKUP] ([COMP_MARKUP_ID], [CURR_CODE], [CASH_BUY], [CASH_SELL], [ONLINE_BUY], [ONLINE_SELL]) VALUES (2, N'AUD', 0.4, 0.7, 0.5, 0.6)
SET IDENTITY_INSERT [dbo].[MST_COMP_MARKUP] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_COMPANY] ON 

INSERT [dbo].[MST_COMPANY] ([COMP_ID], [COMP_NAME], [COMP_ADDRESS_1], [COMP_ADDRESS_2], [STATE_ID], [CITY_ID], [PIN], [EMAIL], [PHONE], [COMP_WEBSITE], [GSTIN], [CIN], [RBI_LIC_NO]) VALUES (1, N'GOVINDA FOREX PVT. LTD.', N'B4, (Basement) Shivalik', N'Malviya Nagar', 10, 325, N'110017', N'govindaforex@gmail.com', N'011-41636347, 9810049772', NULL, N'07AAECG7315B1Z0', N'U67190DL2012PTC236127', N'FE.DEL.FFMC/0569/2012')
SET IDENTITY_INSERT [dbo].[MST_COMPANY] OFF
GO
INSERT [dbo].[MST_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (1, N'Albania')
INSERT [dbo].[MST_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (2, N'Afghanistan')
INSERT [dbo].[MST_COUNTRY] ([COUNTRY_ID], [COUNTRY_NAME]) VALUES (3, N'Argentina')
GO
SET IDENTITY_INSERT [dbo].[MST_CURRENCY] ON 

INSERT [dbo].[MST_CURRENCY] ([CURR_ID], [CURR_NAME], [CURR_CODE], [COUNTRY_NAME], [ACTIVE], [MAX_QTY]) VALUES (1, N'Afghani', N'AFN', N'AFGHANISTAN', NULL, 3000)
INSERT [dbo].[MST_CURRENCY] ([CURR_ID], [CURR_NAME], [CURR_CODE], [COUNTRY_NAME], [ACTIVE], [MAX_QTY]) VALUES (2, N'Lek', N'ALL', N'ALBANIA', NULL, 3000)
INSERT [dbo].[MST_CURRENCY] ([CURR_ID], [CURR_NAME], [CURR_CODE], [COUNTRY_NAME], [ACTIVE], [MAX_QTY]) VALUES (3, N'Algerian Dinar', N'DZD', N'ALGERIA', NULL, 3000)
GO
SET IDENTITY_INSERT [dbo].[MST_CURRENCY] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_DREAM_MARKUP] ON 

INSERT [dbo].[MST_DREAM_MARKUP] ([DREAM_MARKUP_ID], [CURR_CODE], [ONLINE_DRM], [CASH_DRM]) VALUES (1, N'USD', CAST(0.2000 AS Decimal(18, 4)), CAST(0.2000 AS Decimal(18, 4)))
INSERT [dbo].[MST_DREAM_MARKUP] ([DREAM_MARKUP_ID], [CURR_CODE], [ONLINE_DRM], [CASH_DRM]) VALUES (2, N'AUD', CAST(0.3000 AS Decimal(18, 4)), CAST(0.3000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[MST_DREAM_MARKUP] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_OFFICE_USER] ON 

INSERT [dbo].[MST_OFFICE_USER] ([OFF_ID], [OFF_USER_NAME], [OFF_NAME], [PWDHASH], [SALT], [MOBILENO], [EMAIL], [DT_UPD]) VALUES (1, N'admin', N'Rohit', 0x574069CFDE2AD63323CC95B5F9E577DBCB669EA140A514062053DA47B07E47E210009F07579E860B56211F16F030333C5AF275ECA904C73A69EAB104690B547C, N'd953aeaa-9887-4eed-9a94-468d142d8037', N'7982795418', N'rohti@hitmail.com', CAST(N'2022-06-08T17:39:46.613' AS DateTime))
INSERT [dbo].[MST_OFFICE_USER] ([OFF_ID], [OFF_USER_NAME], [OFF_NAME], [PWDHASH], [SALT], [MOBILENO], [EMAIL], [DT_UPD]) VALUES (2, N'Piyush', N'Piyush', 0x6C37F1EF381EEC5EE1FE583D316E3F4BC294A5AD2FA4CB6BBC46D3ABE81F834F8BCEC2119FD5E27B0B13E48AF78F2E63A2004B0285F9233D6FD54CBEAF2DAE9B, N'97df1740-9f67-4c3b-b989-c1f032d581bf', N'8447330505', N'piyushsoninetflix@gmail.com', CAST(N'2023-01-08T21:29:07.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_OFFICE_USER] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_PRODUCT] ON 

INSERT [dbo].[MST_PRODUCT] ([PROD_ID], [PURPOSE], [PROD_NAME]) VALUES (1, N'BUY', N'Cash')
INSERT [dbo].[MST_PRODUCT] ([PROD_ID], [PURPOSE], [PROD_NAME]) VALUES (2, N'BUY', N'On Line Payment')
INSERT [dbo].[MST_PRODUCT] ([PROD_ID], [PURPOSE], [PROD_NAME]) VALUES (3, N'SELL', N'Cash')
SET IDENTITY_INSERT [dbo].[MST_PRODUCT] OFF
GO
INSERT [dbo].[MST_STATE] ([STATE_ID], [STATE_NAME]) VALUES (1, N'Andaman & Nicobar Islands')
INSERT [dbo].[MST_STATE] ([STATE_ID], [STATE_NAME]) VALUES (2, N'Andhra Pradesh')
INSERT [dbo].[MST_STATE] ([STATE_ID], [STATE_NAME]) VALUES (3, N'Arunachal Pradesh')
GO
SET IDENTITY_INSERT [dbo].[MST_USER] ON 

INSERT [dbo].[MST_USER] ([LOGIN_ID], [LOGIN_NAME], [MEM_NAME], [PWDHASH], [SALT], [MOBILENO], [EMAILID], [OTP_MODE], [OTP], [DT_OTP], [VERIFIED]) VALUES (1, N'vrhari', N'v  r hari', 0xFB9F1685B980E739019E56B4953064A17DBA80B58A8E445F7D3DF4CB8ADE69A4EC9709DDDE62E2770D57E4BE5243FB1A008D5D86FE8741E4BCA08239BA06377B, N'1b021800-c965-417b-8c52-7ae34207904a', N'9968038744', N'vrhari@air.org.in', N'M', N'99989', CAST(N'2022-06-08T13:13:53.887' AS DateTime), NULL)
INSERT [dbo].[MST_USER] ([LOGIN_ID], [LOGIN_NAME], [MEM_NAME], [PWDHASH], [SALT], [MOBILENO], [EMAILID], [OTP_MODE], [OTP], [DT_OTP], [VERIFIED]) VALUES (2, N'vrhari', N'v  r hari', 0x1B354C30678E8BC5230B995CE4CD9202A0E1AE1916E8EC7783B7E5E34D3223AF34809123B4934C0B85C9465AAD852C60813E336F6E6F17C847AE519260F0C161, N'3b7d25fd-6057-493c-be0a-9357979705e4', N'9968038744', N'vrhari@air.org.in', N'M', N'05792', CAST(N'2022-06-08T13:24:18.040' AS DateTime), NULL)
INSERT [dbo].[MST_USER] ([LOGIN_ID], [LOGIN_NAME], [MEM_NAME], [PWDHASH], [SALT], [MOBILENO], [EMAILID], [OTP_MODE], [OTP], [DT_OTP], [VERIFIED]) VALUES (3, N'vrhari', N'v  r hari', 0x6EB88E9A0125AD651BDFC5800EFFF6D7F2C1D0E1ACB7BC4B5A6940A5FB178CA3CE8BA06A640FC3021FCF58CF0AB3D05C12F8693F5F04C1D553811B0CFDB67119, N'c5019e24-3cc0-4598-a45e-1b806bb75b95', N'9968038744', N'vrhari@air.org.in', N'M', N'38831', CAST(N'2022-06-08T13:30:38.700' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MST_USER] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_USER_MEMBER] ON 

INSERT [dbo].[MST_USER_MEMBER] ([MEMBER_ID], [LOGIN_ID], [MEM_NAME], [MEM_GENDER], [MEM_MOBILE], [MEM_EMAIL], [MEM_ADD1], [MEM_ADD2], [STATE_ID], [CITY_ID], [PIN], [PAN_NO], [PAN_FILE_NAME], [PASSPORT_NO], [PASSPORT_FILE_NAME], [GSTIN_UIN], [COUNTRY_ID], [DT_REGN]) VALUES (1, 1, N'v  r hari', NULL, N'9968038744', N'vrhari@air.org.in', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-06-08T13:13:53.890' AS DateTime))
INSERT [dbo].[MST_USER_MEMBER] ([MEMBER_ID], [LOGIN_ID], [MEM_NAME], [MEM_GENDER], [MEM_MOBILE], [MEM_EMAIL], [MEM_ADD1], [MEM_ADD2], [STATE_ID], [CITY_ID], [PIN], [PAN_NO], [PAN_FILE_NAME], [PASSPORT_NO], [PASSPORT_FILE_NAME], [GSTIN_UIN], [COUNTRY_ID], [DT_REGN]) VALUES (2, 2, N'v  r hari', NULL, N'9968038744', N'vrhari@air.org.in', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-06-08T13:24:18.040' AS DateTime))
INSERT [dbo].[MST_USER_MEMBER] ([MEMBER_ID], [LOGIN_ID], [MEM_NAME], [MEM_GENDER], [MEM_MOBILE], [MEM_EMAIL], [MEM_ADD1], [MEM_ADD2], [STATE_ID], [CITY_ID], [PIN], [PAN_NO], [PAN_FILE_NAME], [PASSPORT_NO], [PASSPORT_FILE_NAME], [GSTIN_UIN], [COUNTRY_ID], [DT_REGN]) VALUES (3, 3, N'v  r hari', NULL, N'9968038744', N'vrhari@air.org.in', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2022-06-08T13:30:38.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_USER_MEMBER] OFF
GO
SET IDENTITY_INSERT [dbo].[TRN_BUY] ON 

INSERT [dbo].[TRN_BUY] ([BUY_ID], [BOOKING_NO], [DT_BOOKING], [LOGIN_ID], [ONLINE_TRANS_ID], [AMT_ONLINE], [INVOICE_ID], [DT_INVOICE], [AMT_ADVANCE], [DT_ADVANCE], [FX_AMT], [CGST], [SGST], [IGST], [TOT_AMOUNT], [PAYMENT_MODE], [PAYMENT_AMOUNT], [DT_PAYMENT], [CHQ_TRANS_NO], [BANKNAME], [PROCEEDTO], [DT_PAY_UPD], [DEAL_CLOSED]) VALUES (2013, N'B2646620230212222934885', CAST(N'2023-02-12T22:29:48.143' AS DateTime), 5, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Australia', NULL, NULL)
INSERT [dbo].[TRN_BUY] ([BUY_ID], [BOOKING_NO], [DT_BOOKING], [LOGIN_ID], [ONLINE_TRANS_ID], [AMT_ONLINE], [INVOICE_ID], [DT_INVOICE], [AMT_ADVANCE], [DT_ADVANCE], [FX_AMT], [CGST], [SGST], [IGST], [TOT_AMOUNT], [PAYMENT_MODE], [PAYMENT_AMOUNT], [DT_PAYMENT], [CHQ_TRANS_NO], [BANKNAME], [PROCEEDTO], [DT_PAY_UPD], [DEAL_CLOSED]) VALUES (2014, N'B2719220230212224309169', CAST(N'2023-02-12T22:43:25.437' AS DateTime), 5, NULL, NULL, 3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Australia', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TRN_BUY] OFF
GO
SET IDENTITY_INSERT [dbo].[TRN_BUY_SUB] ON 

SET IDENTITY_INSERT [dbo].[TRN_BUY_SUB] OFF
GO
SET IDENTITY_INSERT [dbo].[TRN_SELL] ON 

INSERT [dbo].[TRN_SELL] ([SELL_ID], [BOOKING_NO], [DT_BOOKING], [LOGIN_ID], [ONLINE_TRANS_ID], [AMT_ONLINE], [INVOICE_ID], [DT_INVOICE], [AMT_ADVANCE], [DT_ADVANCE], [FX_AMT], [CGST], [SGST], [IGST], [TOT_AMOUNT], [PAYMENT_MODE], [PAYMENT_AMOUNT], [DT_PAYMENT], [CHQ_TRANS_NO], [BANKNAME], [PROCEEDTO], [DT_PAY_UPD], [DEAL_CLOSED]) VALUES (1009, N'S5801820230212222958991', CAST(N'2023-02-12T22:30:06.747' AS DateTime), 5, NULL, NULL, 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Australia', NULL, NULL)
INSERT [dbo].[TRN_SELL] ([SELL_ID], [BOOKING_NO], [DT_BOOKING], [LOGIN_ID], [ONLINE_TRANS_ID], [AMT_ONLINE], [INVOICE_ID], [DT_INVOICE], [AMT_ADVANCE], [DT_ADVANCE], [FX_AMT], [CGST], [SGST], [IGST], [TOT_AMOUNT], [PAYMENT_MODE], [PAYMENT_AMOUNT], [DT_PAYMENT], [CHQ_TRANS_NO], [BANKNAME], [PROCEEDTO], [DT_PAY_UPD], [DEAL_CLOSED]) VALUES (1010, N'S4522420230212224336052', CAST(N'2023-02-12T22:43:48.847' AS DateTime), 5, NULL, NULL, 4, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Australia', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TRN_SELL] OFF
GO
SET IDENTITY_INSERT [dbo].[TRN_SELL_SUB] ON 

SET IDENTITY_INSERT [dbo].[TRN_SELL_SUB] OFF
GO
ALTER TABLE [dbo].[MST_CURRENCY] ADD  CONSTRAINT [DF_MST_CURRENCY_MAX_QTY]  DEFAULT ((0)) FOR [MAX_QTY]
GO
/****** Object:  StoredProcedure [dbo].[AdminBuy]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AdminBuy]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT TRN_BUY.BUY_ID, TRN_BUY_SUB.BUY_SUB_ID , TRN_BUY.BOOKING_NO, TRN_BUY.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME AS [Pay Mode], TRN_BUY.AMT_ADVANCE, 
                  TRN_BUY.DT_ADVANCE, TRN_BUY_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_BUY_SUB.CURR_CODE, TRN_BUY_SUB.FX_QTY, TRN_BUY_SUB.AMOUNT_DREAM,
				  TRN_BUY.ONLINE_TRANS_ID, TRN_BUY.AMT_ONLINE, TRN_BUY.INVOICE_ID, TRN_BUY.DT_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT,  TRN_BUY_SUB.AMOUNT_TOTAL, 
				  TRN_BUY_SUB.AMOUNT_TOTAL_INVOICE, TRN_BUY_SUB.AMOUNT_COMPANY_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT_INVOICE
				 
      
FROM     MST_USER_MEMBER RIGHT OUTER JOIN
                  MST_USER ON MST_USER_MEMBER.LOGIN_ID = MST_USER.LOGIN_ID RIGHT OUTER JOIN
				     TRN_BUY LEFT OUTER JOIN  TRN_BUY_SUB ON TRN_BUY.BUY_ID = TRN_BUY_SUB.BUY_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_BUY_SUB.PROD_ID = MST_PRODUCT.PROD_ID ON MST_USER.LOGIN_ID = TRN_BUY.LOGIN_ID
				
WHERE  (TRN_BUY.DEAL_CLOSED = 0) OR
                  (TRN_BUY.DEAL_CLOSED IS NULL)
GROUP BY TRN_BUY.BUY_ID, TRN_BUY_SUB.BUY_SUB_ID, TRN_BUY.BOOKING_NO, TRN_BUY.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME, TRN_BUY.AMT_ADVANCE, 
                  TRN_BUY.DT_ADVANCE, TRN_BUY_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_BUY_SUB.CURR_CODE, TRN_BUY_SUB.FX_QTY, TRN_BUY_SUB.AMOUNT_DREAM,
				  TRN_BUY.ONLINE_TRANS_ID, TRN_BUY.AMT_ONLINE, TRN_BUY.INVOICE_ID, TRN_BUY.DT_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT, TRN_BUY_SUB.AMOUNT_TOTAL ,
				  TRN_BUY_SUB.AMOUNT_TOTAL_INVOICE, TRN_BUY_SUB.AMOUNT_COMPANY_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT_INVOICE
ORDER BY TRN_BUY.DT_BOOKING DESC

 
END
GO
/****** Object:  StoredProcedure [dbo].[adminLogin]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[adminLogin]
		@OFF_USER_NAME varchar(30),
		@pwd varchar(30)
		--,
		--@result int output,
		--@loginId int output,
		--@empName varchar(50) output
	AS
	BEGIN
 --get salt, pwdhash
 declare @salt varchar(36)
 declare @pwdhash binary(64) 
 --select @loginId = OFF_ID, @salt = salt , @pwdhash = PWDHASH, @empName = off_name from MST_OFFICE_USER where OFF_USER_NAME=@OFF_USER_NAME
 declare @loginId int, @empName varchar(50)
 select @loginId = OFF_ID, @salt = salt , @pwdhash = PWDHASH, @empName = off_name from MST_OFFICE_USER 
 where OFF_USER_NAME=@OFF_USER_NAME
 if (HASHBYTES('SHA2_512', @pwd+@salt) = @pwdhash) 
 begin
	select off_name, MOBILENO,EMAIL from MST_OFFICE_USER where off_id = @loginId 
 end
 --else
 --begin
	--set @result = 0
	--set @loginId = 0
	--set @empName = null
 --end
	--select @result, @loginId,@empName

end
GO
/****** Object:  StoredProcedure [dbo].[AdminSell]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AdminSell]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT TRN_SELL.SELL_ID, TRN_SELL_SUB.SELL_SUB_ID ,  TRN_SELL.BOOKING_NO, TRN_SELL.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME AS [Pay Mode], TRN_SELL.AMT_ADVANCE, 
                  TRN_SELL.DT_ADVANCE, TRN_SELL_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_SELL_SUB.CURR_CODE, TRN_SELL_SUB.FX_QTY, TRN_SELL_SUB.AMOUNT_DREAM,
				  TRN_SELL.ONLINE_TRANS_ID, TRN_SELL.AMT_ONLINE, TRN_SELL.INVOICE_ID, TRN_SELL.DT_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT, TRN_SELL_SUB.AMOUNT_TOTAL,
				  TRN_SELL_SUB.AMOUNT_TOTAL_INVOICE, TRN_SELL_SUB.AMOUNT_COMPANY_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT_INVOICE
FROM     MST_USER_MEMBER RIGHT OUTER JOIN
                  MST_USER ON MST_USER_MEMBER.LOGIN_ID = MST_USER.LOGIN_ID RIGHT OUTER JOIN
                  TRN_SELL LEFT OUTER JOIN   TRN_SELL_SUB ON TRN_SELL.SELL_ID = TRN_SELL_SUB.SELL_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_SELL_SUB.PROD_ID = MST_PRODUCT.PROD_ID ON MST_USER.LOGIN_ID = TRN_SELL.LOGIN_ID
WHERE  (TRN_SELL.DEAL_CLOSED = 0) OR
                  (TRN_SELL.DEAL_CLOSED IS NULL)
GROUP BY TRN_SELL.SELL_ID, TRN_SELL_SUB.SELL_SUB_ID , TRN_SELL.BOOKING_NO, TRN_SELL.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME, TRN_SELL.AMT_ADVANCE, 
                  TRN_SELL.DT_ADVANCE, TRN_SELL_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_SELL_SUB.CURR_CODE, TRN_SELL_SUB.FX_QTY,TRN_SELL_SUB.AMOUNT_DREAM,
				  TRN_SELL.ONLINE_TRANS_ID, TRN_SELL.AMT_ONLINE, TRN_SELL.INVOICE_ID, TRN_SELL.DT_INVOICE,TRN_SELL_SUB.RATE_TO_CLIENT, TRN_SELL_SUB.AMOUNT_TOTAL,
				  TRN_SELL_SUB.AMOUNT_TOTAL_INVOICE, TRN_SELL_SUB.AMOUNT_COMPANY_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT_INVOICE
ORDER BY TRN_SELL.DT_BOOKING DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Booking_Member_Details]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Booking_Member_Details]
	-- Add the parameters for the stored procedure here
	@bookingNo varchar(50) AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MST_USER_MEMBER.MEM_NAME, MST_USER_MEMBER.MEM_GENDER, MST_USER_MEMBER.MEM_MOBILE, MST_USER_MEMBER.MEM_EMAIL, MST_USER_MEMBER.MEM_ADD1, MST_USER_MEMBER.MEM_ADD2, 
                  MST_CITY.CITY_NAME, MST_STATE.STATE_NAME, MST_COUNTRY.COUNTRY_NAME, MST_USER_MEMBER.PIN, MST_USER_MEMBER.PAN_NO, MST_USER_MEMBER.PASSPORT_NO,
				  TRN_BUY.BOOKING_NO, MST_USER_MEMBER.GSTIN_UIN
FROM     MST_USER_MEMBER INNER JOIN
                  TRN_BUY ON MST_USER_MEMBER.LOGIN_ID = TRN_BUY.LOGIN_ID INNER JOIN
                  MST_CITY ON MST_USER_MEMBER.CITY_ID = MST_CITY.CITY_ID INNER JOIN
                  MST_STATE ON MST_CITY.STATE_ID = MST_STATE.STATE_ID INNER JOIN
                  MST_COUNTRY ON MST_USER_MEMBER.COUNTRY_ID = MST_COUNTRY.COUNTRY_ID
WHERE  (TRN_BUY.BOOKING_NO = @bookingNo)
END
GO
/****** Object:  StoredProcedure [dbo].[checkOtp]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[checkOtp]
	-- Add the parameters for the stored procedure here
	@loginId int,
	@otp varchar(10),
	@result int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	IF 	(SELECT DATEDIFF(N,[DT_OTP],GETDATE()) FROM MST_USER WHERE LOGIN_ID = @loginId ) < = 10
	BEGIN
		IF exists(SELECT LOGIN_ID FROM MST_USER WHERE LOGIN_ID = @loginId AND otp = @otp) 
		begin
			update mst_user set verified = 1 where LOGIN_ID = @loginId
			set @result = 4
			return @result -- OTP Verified and user is registered.
		end
		else
		begin
			set @result = 3
			return @result -- OTP mismatch
	end
	END
	ELSE
	begin
		set @result = 0
			return @result -- OTP Expired
	end
		
END

GO
/****** Object:  StoredProcedure [dbo].[CheckUserAvailability]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckUserAvailability]
	-- Add the parameters for the stored procedure here
   @UserName VARCHAR(50)
   
AS
BEGIN
    SET NOCOUNT ON
			
	if exists(select LOGIN_ID from MST_USER where LOGIN_NAME = @UserName)
	begin
		select 'TRUE' as userNameExists
	end
	else
	begin
		select 'FALSE' as userNameExists
	end
END

GO
/****** Object:  StoredProcedure [dbo].[ClientBuy]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ClientBuy]
	-- Add the parameters for the stored procedure here
	@p_table as varchar(10),
	@loginId as int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if (@p_table = 'BUY')
	begin
SELECT TRN_BUY.BUY_ID AS BUYSELL_ID, TRN_BUY.BOOKING_NO, TRN_BUY.DT_BOOKING, TRN_BUY_SUB.CURR_CODE, TRN_BUY_SUB.FX_QTY, TRN_BUY_SUB.RATE_TO_CLIENT , TRN_BUY_SUB.AMOUNT_TOTAL, MST_PRODUCT.PROD_NAME, TRN_BUY.LOGIN_ID,
MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID,  MST_PRODUCT.PROD_ID
FROM     TRN_BUY LEFT OUTER JOIN
                  TRN_BUY_SUB ON TRN_BUY.BUY_ID = TRN_BUY_SUB.BUY_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_BUY_SUB.PROD_ID = MST_PRODUCT.PROD_ID RIGHT OUTER JOIN
                  MST_USER ON TRN_BUY.LOGIN_ID = MST_USER.LOGIN_ID
WHERE  (TRN_BUY.LOGIN_ID = @loginId)
ORDER BY TRN_BUY.DT_BOOKING DESC
	end
	else if (@p_table = 'SELL')
	begin
SELECT TRN_SELL.SELL_ID AS BUYSELL_ID,  TRN_SELL.BOOKING_NO, TRN_SELL.DT_BOOKING, TRN_SELL_SUB.CURR_CODE, TRN_SELL_SUB.FX_QTY, TRN_SELL_SUB.RATE_TO_CLIENT,TRN_SELL_SUB.AMOUNT_TOTAL,  MST_PRODUCT.PROD_NAME, TRN_SELL.LOGIN_ID,
MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID,  MST_PRODUCT.PROD_ID
FROM     TRN_SELL LEFT OUTER JOIN
                  TRN_SELL_SUB ON TRN_SELL.SELL_ID = TRN_SELL_SUB.SELL_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_SELL_SUB.PROD_ID = MST_PRODUCT.PROD_ID RIGHT OUTER JOIN
                  MST_USER ON TRN_SELL.LOGIN_ID = MST_USER.LOGIN_ID
WHERE  (TRN_SELL.LOGIN_ID = @loginId)
ORDER BY TRN_SELL.DT_BOOKING DESC
  end
  else if  (@p_table = 'VISA')
  begin
	return 0
  end
  else if (@p_table = 'MISC')
  begin
  return  1
  end
END
GO
/****** Object:  StoredProcedure [dbo].[companyRpt]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[companyRpt]
	-- Add the parameters for the stored procedure here
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MST_COMPANY.COMP_NAME, MST_COMPANY.COMP_ADDRESS_1, MST_COMPANY.COMP_ADDRESS_2, MST_COMPANY.PIN, MST_COMPANY.EMAIL, MST_COMPANY.PHONE, MST_COMPANY.COMP_WEBSITE, MST_COMPANY.GSTIN, 
                  MST_COMPANY.CIN, MST_COMPANY.RBI_LIC_NO, MST_CITY.CITY_NAME, MST_STATE.STATE_NAME
FROM     MST_STATE INNER JOIN
                  MST_CITY ON MST_STATE.STATE_ID = MST_CITY.STATE_ID RIGHT OUTER JOIN
                  MST_COMPANY ON MST_CITY.CITY_ID = MST_COMPANY.CITY_ID
END
GO
/****** Object:  StoredProcedure [dbo].[forgotPassword]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[forgotPassword]
	-- Add the parameters for the stored procedure here
	@email varchar(50) =null,
	@mobileNo varchar(10) = null 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @loginId int, @retVal as int, @otp as varchar(5)
	
    -- Insert statements for procedure here
	select @loginId = LOGIN_ID from MST_USER where MOBILENO = @mobileNo or EMAILID = @email
	if (@loginId >0)
	begin
		 -- username found
		 set @retVal = 1
		 --generate 5 digit OTP
		SELECT @otp = LEFT(CAST(RAND()*1000000000+99999 AS INT),5)
		update MST_USER set OTP = @otp, DT_OTP = GETDATE() where LOGIN_ID = @loginId -- EMAILID = @email or MOBILENO = @mobileNo
	end
	else
	begin
		set @retVal = 0
	end
	select @loginId as LoginId, @retVal as ReturnValue
END
GO
/****** Object:  StoredProcedure [dbo].[forgotPwdCheckOTP]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[forgotPwdCheckOTP]
	-- Add the parameters for the stored procedure here
	@loginId int,
	@otp varchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	declare @result int
	IF 	(SELECT DATEDIFF(N,[DT_OTP],GETDATE()) FROM MST_USER WHERE LOGIN_ID = @loginId ) < = 10
	BEGIN
		IF exists(SELECT LOGIN_ID FROM MST_USER WHERE LOGIN_ID = @loginId AND otp = @otp) 
		begin
			update mst_user set verified = 1 where LOGIN_ID = @loginId
			set @result = 4
			return @result -- OTP Verified and user is registered.
		end
		else
		begin
			set @result = 3
			return @result -- OTP mismatch
		end
	END
	ELSE
	begin
		set @result = 0
			return @result -- OTP Expired
	end
		
END
GO
/****** Object:  StoredProcedure [dbo].[getRate]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getRate]
	-- Add the parameters for the stored procedure here
	@currCode char(3),
	@prodId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @currExRate as float , @dreamComm as float ,  @clientComm as float , @rateToClient float
    -- Insert statements for procedure here
select  @currExRate = CURR_RATE_INR from LIVE_CURR_RATE where CURR_CODE = @currCode


	if( @prodId = 1) --buy cash
	begin
 			select @clientComm = cash_buy from MST_COMP_MARKUP where CURR_CODE = @currCode
			select @dreamComm = CASH_DRM from MST_DREAM_MARKUP  where CURR_CODE = @currCode

			if (@clientComm is null) or (@dreamComm is null)
				begin
					set @rateToClient = 0
				end 
			else
				begin
					set @rateToClient = @currExRate + @clientComm + @dreamComm
				end
	end

	if( @prodId = 2) --buy ONLINE
	begin
			select @clientComm = ONLINE_BUY from MST_COMP_MARKUP where CURR_CODE = @currCode
			select @dreamComm = ONLINE_DRM from MST_DREAM_MARKUP  where CURR_CODE = @currCode
			
			if (@clientComm is null) or (@dreamComm is null)
				begin
					set @rateToClient = 0
				end 
			else
				begin
					set @rateToClient = @currExRate + @clientComm + @dreamComm
				end

	end

	if( @prodId = 3) -- sell cash
	begin
			select @clientComm = cash_sell from MST_COMP_MARKUP where CURR_CODE = @currCode
			select @dreamComm = CASH_DRM from MST_DREAM_MARKUP  where CURR_CODE = @currCode
			if (@clientComm is null) or (@dreamComm is null)
				begin
					set @rateToClient = 0
				end 
			else
				begin
					set @rateToClient = @currExRate - @clientComm - @dreamComm
				end

	end

	if( @prodId = 4) -- sell online
	begin
			select @clientComm = ONLINE_SELL from MST_COMP_MARKUP where CURR_CODE = @currCode
			select @dreamComm = online_drm from MST_DREAM_MARKUP  where CURR_CODE = @currCode
			
			if (@clientComm is null) or (@dreamComm is null)
				begin
					set @rateToClient = 0
				end 
			else
				begin
					set @rateToClient = @currExRate - @clientComm - @dreamComm
				end

	end
		
		select @currExRate as currExRate, @clientComm as clientComm, @dreamComm as dreamComm, @rateToClient as rateToClient

	--if( @prodId =5) -- reload liesure/holiday
	--begin
	--		select @clientComm = card_encash_buy from MST_COMP_MARKUP where CURR_CODE = @currCode
	--		select @dreamComm = CARD_ENCASH from MST_DREAM_MARKUP  where CURR_CODE = @currCode
	--end
		
	--if( @prodId =6) -- reload education
	--begin
	--		select @clientComm = card_encash_buy from MST_COMP_MARKUP where CURR_CODE = @currCode
	--		select @dreamComm = CARD_ENCASH from MST_DREAM_MARKUP  where CURR_CODE = @currCode
	--end

	--if( @prodId =7) -- reload emigration
	--begin
	--		select @clientComm = card_encash_buy from MST_COMP_MARKUP where CURR_CODE = @currCode
	--		select @dreamComm = CARD_ENCASH from MST_DREAM_MARKUP  where CURR_CODE = @currCode
	--end

	--if( @prodId =8) -- reload business trip
	--begin
	--		select @clientComm = card_encash_buy from MST_COMP_MARKUP where CURR_CODE = @currCode
	--		select @dreamComm = CARD_ENCASH from MST_DREAM_MARKUP  where CURR_CODE = @currCode
	--end


END
GO
/****** Object:  StoredProcedure [dbo].[insertBooking]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertBooking]
	-- Add the parameters for the stored procedure here
	@BOOKING_NO varchar(50),
	@PROD_ID int,
	@BUY_SELL_ID INT OUTPUT,
	@CURR_CODE char(3),
	@FX_QTY int,
	@FX_QTY_NEW int, 
	@RATE_TO_CLIENT float ,
	@CURRENT_RATE float, 
	@COMM_COMPANY float, 
	@COMM_DREAM float, 
	@AMOUNT_TOTAL float, 
	@AMOUNT_COMPANY float, 
	@AMOUNT_DREAM float,
	@LOGIN_ID INT =NULL


	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @rateToClient float, @amountTotal float

    -- Insert statements for procedure here

	if ((@PROD_ID = 1) or (@PROD_ID = 2))
	begin
		INSERT INTO [TRN_BUY] ( BOOKING_NO, [DT_BOOKING],   [PROD_ID], [LOGIN_ID])
						VALUES ( @BOOKING_NO, getdate(), @PROD_ID, @LOGIN_ID)

		SET @BUY_SELL_ID = SCOPE_IDENTITY()

		INSERT INTO [TRN_BUY_SUB] (
		[BUY_ID], [CURR_CODE], [FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], 
		[AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
		VALUES (@BUY_SELL_ID, @CURR_CODE, @FX_QTY, @FX_QTY_NEW, @RATE_TO_CLIENT, @CURRENT_RATE, @COMM_COMPANY, @COMM_DREAM, 
		@AMOUNT_TOTAL, @AMOUNT_COMPANY, @AMOUNT_DREAM, getdate())

	end
	else if ((@PROD_ID = 3) or (@PROD_ID = 4))
		BEGIN
			INSERT INTO [TRN_SELL] ( BOOKING_NO, [DT_BOOKING],   [PROD_ID],[LOGIN_ID])
							VALUES ( @BOOKING_NO, getdate(), @PROD_ID,@LOGIN_ID)

			SET @BUY_SELL_ID = SCOPE_IDENTITY()

				INSERT INTO [TRN_SELL_SUB] ( [SELL_ID], [CURR_CODE], [FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], 
				[AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
				VALUES (@BUY_SELL_ID, @CURR_CODE, @FX_QTY, @FX_QTY_NEW, @RATE_TO_CLIENT, @CURRENT_RATE, @COMM_COMPANY, @COMM_DREAM, 
				@AMOUNT_TOTAL, @AMOUNT_COMPANY, @AMOUNT_DREAM, getdate())
		END
END
GO
/****** Object:  StoredProcedure [dbo].[insertBuy]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertBuy]
	-- Add the parameters for the stored procedure here
 @tblBuyDetails BookingBuySell READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE  @rateToClient float, @amountTotal float
	DECLARE @BOOKING_NO NVARCHAR(50) = (SELECT TOP 1 BOOKING_NO FROM @tblBuyDetails)
	DECLARE @BUY_SELL_ID INT
    -- Insert statements for procedure here
	  IF NOT EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_BUY WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
        INSERT INTO [TRN_BUY] ( BOOKING_NO, [DT_BOOKING],  [LOGIN_ID])
		SELECT TOP 1 BOOKING_NO, getdate(),  LOGIN_ID FROM @tblBuyDetails
		SET @BUY_SELL_ID = SCOPE_IDENTITY()
	  END
		INSERT INTO [TRN_BUY_SUB] (
		[BUY_ID], [CURR_CODE], [PROD_ID],[FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [RATE_TO_CLIENT_INVOICE], [CURRENT_RATE], [COMM_COMPANY],[AMOUNT_COMPANY_INVOICE], [COMM_DREAM], 
		[AMOUNT_TOTAL], [AMOUNT_TOTAL_INVOICE], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
		SELECT @BUY_SELL_ID, [Currency_Code],[Product_Id], [Forex_Quantity], [Forex_Quantity], [RATE_TO_CLIENT], [RATE_TO_CLIENT], [CURRENT_RATE],
		[COMM_COMPANY],[AMOUNT_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  getdate()
		FROM  @tblBuyDetails

END

 SELECT * FROM [TRN_BUY_SUB] 
  SELECT * FROM [TRN_BUY] 
GO
/****** Object:  StoredProcedure [dbo].[insertBuySell]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertBuySell]
	-- Add the parameters for the stored procedure here
 @tblBuyDetails BookingBuySell READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE  @rateToClient float, @amountTotal float
	DECLARE @BOOKING_NO NVARCHAR(50) = (SELECT TOP 1 BOOKING_NO FROM @tblBuyDetails)
	DECLARE @BUY_SELL_ID INT
    -- Insert statements for procedure here
	  IF NOT EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_BUY WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
        INSERT INTO [TRN_BUY] ( BOOKING_NO, [DT_BOOKING],  [LOGIN_ID])
		SELECT TOP 1 BOOKING_NO, getdate(),  LOGIN_ID FROM @tblBuyDetails
		SET @BUY_SELL_ID = SCOPE_IDENTITY()
	  END
	  IF NOT EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_SELL WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
        INSERT INTO [TRN_SELL] ( BOOKING_NO, [DT_BOOKING],  [LOGIN_ID])
		SELECT TOP 1 BOOKING_NO, getdate(),  LOGIN_ID FROM @tblBuyDetails
		SET @BUY_SELL_ID = SCOPE_IDENTITY()
	  END
	  
		INSERT INTO [TRN_BUY_SUB] (
		[BUY_ID], [CURR_CODE], [PROD_ID],[FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], 
		[AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
		SELECT @BUY_SELL_ID, [Currency_Code],[Product_Id], [Forex_Quantity], [Forex_Quantity], [RATE_TO_CLIENT], [CURRENT_RATE],
		[COMM_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  getdate()
		FROM  @tblBuyDetails

END

 SELECT * FROM [TRN_BUY_SUB] 
  SELECT * FROM [TRN_BUY] 
GO
/****** Object:  StoredProcedure [dbo].[InsertInvoice]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertInvoice]
	-- Add the parameters for the stored procedure here
 @INVOICE_SERIAL_NO INT,
 @DT_INVOICE DATETIME,
 @BOOKING_NO NVARCHAR(50),
 @BOOKING_FLAG CHAR,
 @LOGIN_ID INT,	
 @PROCEED_TO NVARCHAR(50),
 @AMOUNT_TOTAL FLOAT,
 @CGST FLOAT,
 @SGST FLOAT,
 @IGST FLOAT,
 @HSNID INT
AS
BEGIN


INSERT INTO [dbo].[INVOICE]
           ([INVOICE_SERIAL_NO],
            [DT_INVOICE]
           ,[BOOKING_NO]
           ,[BOOKING_FLAG]
           ,[LOGIN_ID],
		   AMOUNT_TOTAL,
		   CGST,
		   SGST,
		   IGST,
		   HSNID)
     VALUES
           (@INVOICE_SERIAL_NO,
            @DT_INVOICE
           ,@BOOKING_NO
           ,@BOOKING_FLAG
           ,@LOGIN_ID,
		   @AMOUNT_TOTAL,
		   @CGST,
		   @SGST,
		   @IGST,
		   @HSNID)
	DECLARE @INVOICE_ID NVARCHAR(50)

	SET @INVOICE_ID =  (SELECT INVOICE_SERIAL_NO FROM [dbo].[INVOICE] WHERE BOOKING_NO = @BOOKING_NO)  
	  IF  EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_BUY WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
       UPDATE [dbo].[TRN_BUY] SET [INVOICE_ID] = @INVOICE_ID, [PROCEEDTO] = @PROCEED_TO  WHERE BOOKING_NO = @BOOKING_NO
	   DECLARE @BUY_ID INT = (SELECT BUY_ID FROM [dbo].[TRN_BUY] WHERE BOOKING_NO = @BOOKING_NO)
	   INSERT INTO [dbo].[INVOICE_SUB] (CURR_CODE, FX_QTY, INVOICE_ID, PROD_ID, RATE_TO_CLIENT, CURRENT_RATE, COMM_COMPANY, COMM_DREAM, 
		AMOUNT_TOTAL, AMOUNT_COMPANY, AMOUNT_DREAM, BOOKING_FLAG )
		SELECT CURR_CODE, FX_QTY, @INVOICE_ID, PROD_ID, RATE_TO_CLIENT_INVOICE, CURRENT_RATE, COMM_COMPANY, COMM_DREAM, 
		AMOUNT_TOTAL_INVOICE, AMOUNT_COMPANY_INVOICE, AMOUNT_DREAM, 1 FROM TRN_BUY_SUB  WHERE BUY_ID= @BUY_ID
	  END
	  IF  EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_SELL WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
       UPDATE [dbo].[TRN_SELL] SET [INVOICE_ID] = @INVOICE_ID, [PROCEEDTO] = @PROCEED_TO  WHERE BOOKING_NO = @BOOKING_NO
	   DECLARE @SELL_ID INT = (SELECT SELL_ID FROM [dbo].[TRN_SELL] WHERE BOOKING_NO = @BOOKING_NO)
	    INSERT INTO [dbo].[INVOICE_SUB] (CURR_CODE, INVOICE_ID, FX_QTY,PROD_ID, RATE_TO_CLIENT, CURRENT_RATE, COMM_COMPANY, COMM_DREAM, 
		AMOUNT_TOTAL, AMOUNT_COMPANY, AMOUNT_DREAM, BOOKING_FLAG )
		SELECT CURR_CODE, FX_QTY, @INVOICE_ID, PROD_ID, RATE_TO_CLIENT_INVOICE, CURRENT_RATE, COMM_COMPANY, COMM_DREAM, 
		AMOUNT_TOTAL_INVOICE, AMOUNT_COMPANY_INVOICE, AMOUNT_DREAM, 1 FROM TRN_SELL_SUB  WHERE SELL_ID= @SELL_ID
	  END
END


/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT * FROM [FOREX].[dbo].[TRN_BUY]

SELECT * FROM [dbo].[INVOICE]
SELECT * FROM [dbo].[INVOICE_SUB]
SELECT * FROM [dbo].[TRN_BUY_SUB]
SELECT * FROM [dbo].[TRN_SELL_SUB]
GO
/****** Object:  StoredProcedure [dbo].[insertLiveRate]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertLiveRate]
	-- Add the parameters for the stored procedure here
	@CURR_CODE varchar(10),
	@CURR_RATE float

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
INSERT INTO [LIVE_CURR_RATE] ([CURR_CODE], [CURR_RATE],[DT_UPD]) VALUES (@CURR_CODE, @CURR_RATE,GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[insertSell]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertSell]
	-- Add the parameters for the stored procedure here
 @tblSellDetails BookingBuySell READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE  @rateToClient float, @amountTotal float
	DECLARE @BOOKING_NO NVARCHAR(50) = (SELECT TOP 1 BOOKING_NO FROM @tblSellDetails)
	DECLARE @BUY_SELL_ID INT
    -- Insert statements for procedure here
	  IF NOT EXISTS(SELECT DISTINCT BOOKING_NO FROM TRN_SELL WHERE  BOOKING_NO = @BOOKING_NO)
	  BEGIN
        INSERT INTO [TRN_SELL] ( BOOKING_NO, [DT_BOOKING],  [LOGIN_ID])
		SELECT TOP 1 BOOKING_NO, getdate(),  LOGIN_ID FROM @tblSellDetails
		SET @BUY_SELL_ID = SCOPE_IDENTITY()
	  END
		INSERT INTO [TRN_SELL_SUB] (
		[SELL_ID], [CURR_CODE], [PROD_ID],[FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [RATE_TO_CLIENT_INVOICE], [CURRENT_RATE], [COMM_COMPANY], [AMOUNT_COMPANY_INVOICE], [COMM_DREAM], 
		[AMOUNT_TOTAL], [AMOUNT_TOTAL_INVOICE], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
		SELECT @BUY_SELL_ID, [Currency_Code],[Product_Id], [Forex_Quantity], [Forex_Quantity], [RATE_TO_CLIENT], [RATE_TO_CLIENT], [CURRENT_RATE],
		[COMM_COMPANY],[AMOUNT_COMPANY], [COMM_DREAM], [AMOUNT_TOTAL], [AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  getdate()
		FROM  @tblSellDetails

END

 SELECT * FROM [TRN_SELL] 
  SELECT * FROM [TRN_SELL_SUB] 
GO
/****** Object:  StoredProcedure [dbo].[insertUser]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertUser]
	-- Add the parameters for the stored procedure here
    @pLogin VARCHAR(50), 
    @pPassword VARCHAR(50),
    @mobileNo VARCHAR(50) = NULL, 
    @emailId VARCHAR(50) = NULL,
	@MEM_NAME varchar(50),
	@MEM_GENDER char(1),
	@MEM_ADD1 varchar(50),
	@MEM_ADD2 varchar(50),
	@STATE_ID int,
	@CITY_ID int,
	@PIN char(6),
	@PAN_NO varchar(50),
	@PAN_FILE_NAME varchar(50),
	@PASSPORT_NO varchar(50),
	@PASSPORT_FILE_NAME varchar(50),
	@COUNTRY_ID int
as	
BEGIN
    SET NOCOUNT ON
			DECLARE @salt UNIQUEIDENTIFIER=NEWID()
			declare @userId int
        INSERT INTO [MST_User] (LOGIN_NAME, PwdHash, Salt, MOBILENO, EMAILID)
        VALUES(@pLogin, HASHBYTES('SHA2_512', @pPassword+CAST(@salt AS varchar(36))), @salt, @mobileNo, @emailId)

		set @userId = SCOPE_IDENTITY()

		INSERT INTO [MST_USER_MEMBER] 
		([LOGIN_ID], [MEM_NAME], [MEM_GENDER], [MEM_MOBILE], [MEM_EMAIL], [MEM_ADD1], [MEM_ADD2], [STATE_ID], [CITY_ID], [PIN], 
		[PAN_NO], [PAN_FILE_NAME], [PASSPORT_NO], [PASSPORT_FILE_NAME], [COUNTRY_ID], [DT_REGN]) 
		VALUES (@userId, @MEM_NAME, @MEM_GENDER, @mobileNo, @emailId, @MEM_ADD1, @MEM_ADD2, @STATE_ID, @CITY_ID, @PIN, @PAN_NO, @PAN_FILE_NAME, 
		@PASSPORT_NO, @PASSPORT_FILE_NAME, @COUNTRY_ID, getdate())
END
GO
/****** Object:  StoredProcedure [dbo].[Password_Check]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  procedure [dbo].[Password_Check]
		@loginName varchar(30),
		@pwd varchar(30),
		@result int output,
		@loginId int output,
		@memName varchar(50) output
	AS
	BEGIN
 --get salt, pwdhash
 declare @salt varchar(36)
 declare @pwdhash binary(64) 
 declare @verified bit
 select @loginId = login_id, @salt = salt , @pwdhash = PWDHASH , @memName = MEM_NAME , @verified = verified
		from mst_user where LOGIN_NAME=@loginName

 if (HASHBYTES('SHA2_512', @pwd+@salt) = @pwdhash)
	 begin
		if (@verified = 1 )
			begin
				set @result = 1 -- valid login. Registered and verfied
				select @result, @loginId , @memName
			end
		else
			begin
				set @result = 2 --valid login. Registered and Un-Verified
				select @memName
			end
	 end
 else
	 begin
		SET @result = 0 -- Invalid login
		SET  @loginId =0
		SET @memName = null

	 end


end
GO
/****** Object:  StoredProcedure [dbo].[registerOfficeUser]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[registerOfficeUser] 
	-- Add the parameters for the stored procedure here
	@OFF_USER_NAME VARCHAR(50), 
    @Password VARCHAR(50),
    @MOBILENO VARCHAR(10) , 
    @EMAILID VARCHAR(50) ,
	@OFF_NAME varchar(50),
	@result varchar(2) output
	as	
BEGIN
    SET NOCOUNT ON
	
	if exists(select off_user_name from MST_OFFICE_USER where OFF_USER_NAME  = @OFF_USER_NAME)
	begin
		set @result = 'LO' --Login name EXISTS
	end
	else if exists(select off_name from MST_OFFICE_USER where off_name  = @OFF_NAME)
	begin
		set @result = 'US' -- NAME OF THE USER/EMPLOYEE EXISTS
	end
	else if exists(select MOBILENO from MST_OFFICE_USER where MOBILENO  = @MOBILENO)
	begin
		set @result = 'MO'--MOBILENO EXISTS
	end
	else if exists(select EMAIL from MST_OFFICE_USER where EMAIL  = @EMAILID)
	begin
		set @result = 'EM' -- EMAIL EXISTS 
	end
	else
	begin
			DECLARE @salt UNIQUEIDENTIFIER=NEWID()
	INSERT INTO MST_OFFICE_USER (OFF_USER_NAME, OFF_NAME, PWDHASH, SALT, MOBILENO, EMAIL,DT_UPD)
						VALUES(@OFF_USER_NAME, @OFF_NAME, HASHBYTES('SHA2_512', @Password+CAST(@salt AS varchar(36))), @salt, @MOBILENO, @EMAILID,GETDATE())
		set @result = 'OK' -- ALL CLEAR, INSERTED 
	end
	select @result 
end
GO
/****** Object:  StoredProcedure [dbo].[registerUser]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[registerUser] 
	-- Add the parameters for the stored procedure here
	@username VARCHAR(50), 
    @Password VARCHAR(50),
    @mobileNo VARCHAR(50) = NULL, 
    @emailId VARCHAR(50) = NULL,
	@mem_name varchar(50),
	@otpmode char(1),
	@otp char(5),
	@userId int output
as	
BEGIN
    SET NOCOUNT ON
			DECLARE @salt UNIQUEIDENTIFIER=NEWID()
        INSERT INTO [MST_User] (LOGIN_NAME, mem_name, PwdHash, Salt, MOBILENO, EMAILID,OTP_MODE, OTP,DT_OTP)
        VALUES(@username, @mem_name, HASHBYTES('SHA2_512', @Password+CAST(@salt AS varchar(36))), @salt, @mobileNo, @emailId,@otpmode,@otp,GETDATE())

		set @userId = SCOPE_IDENTITY()
		

		INSERT INTO [MST_USER_MEMBER] 
		([LOGIN_ID], [MEM_NAME], [MEM_MOBILE], [MEM_EMAIL], [DT_REGN]) 
		VALUES (@userId, @MEM_NAME,  @mobileNo, @emailId,  getdate())

		return @userId
END
GO
/****** Object:  StoredProcedure [dbo].[trn_buy_pay_det_update]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[trn_buy_pay_det_update] 
	-- Add the parameters for the stored procedure here
	@FX_AMT float,
	@CGST float,
	@SGST float,
	@IGST float,
	@TOT_AMOUNT float,
	@PAYMENT_MODE varchar(50),
	@PAYMENT_AMOUNT float,
	@DT_PAYMENT datetime,
	@CHQ_TRANS_NO varchar(50),
	@BANKNAME varchar(50),
	@PROCEEDTO varchar(100),
	@BUY_ID int,
	@ONLYPROCEEDTO BIT NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
IF @ONLYPROCEEDTO = NULL
BEGIN
UPDATE [TRN_BUY] 
SET [FX_AMT] = @FX_AMT, [CGST] = @CGST, [SGST] = @SGST, [IGST] = @IGST, [TOT_AMOUNT] = @TOT_AMOUNT, [PAYMENT_MODE] = @PAYMENT_MODE, 
[PAYMENT_AMOUNT] = @PAYMENT_AMOUNT, [DT_PAYMENT] = @DT_PAYMENT, [CHQ_TRANS_NO] = @CHQ_TRANS_NO, [BANKNAME] = @BANKNAME, 
 [DT_PAY_UPD] = getdate() WHERE [BUY_ID] = @BUY_ID
 END
 ELSE
 BEGIN
 UPDATE [TRN_BUY] 
SET PROCEEDTO = @PROCEEDTO, [DT_PAY_UPD] = getdate()
WHERE [BUY_ID] = @BUY_ID
END
END
--select * from MST_CURRENCY where CURR_ID in (12,34)
GO
/****** Object:  StoredProcedure [dbo].[trn_buy_sub_Insert]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[trn_buy_sub_Insert]
	-- Add the parameters for the stored procedure here
	@BUY_ID int,
	@CURR_CODE char(3),
	@FX_QTY int,
	@FX_QTY_NEW int, 
	@RATE_TO_CLIENT float ,
	@CURRENT_RATE float, 
	@COMM_COMPANY float, 
	@COMM_DREAM float, 
	@AMOUNT_TOTAL float, 
	@AMOUNT_COMPANY float, 
	@AMOUNT_DREAM float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [TRN_BUY_SUB] (
	[BUY_ID], [CURR_CODE], [FX_QTY], [FX_QTY_NEW], [RATE_TO_CLIENT], [CURRENT_RATE], [COMM_COMPANY], [COMM_DREAM], 
	[AMOUNT_TOTAL], [AMOUNT_COMPANY], [AMOUNT_DREAM],  [DT_UPD])
	VALUES (@BUY_ID, @CURR_CODE, @FX_QTY, @FX_QTY_NEW, @RATE_TO_CLIENT, @CURRENT_RATE, @COMM_COMPANY, @COMM_DREAM, 
	@AMOUNT_TOTAL, @AMOUNT_COMPANY, @AMOUNT_DREAM, getdate())
END
GO
/****** Object:  StoredProcedure [dbo].[trn_buy_sub_update]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[trn_buy_sub_update]
	-- Add the parameters for the stored procedure here
	@BUY_SUB_ID INT,
	@FX_QTY_NEW INT,
	@RATE_TO_CLIENT FLOAT,
	@COMM_COMPANY FLOAT,
	@COMM_DREAM FLOAT,
	@CURRENT_RATE FLOAT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE TRN_BUY_SUB 
	SET FX_QTY_NEW = @FX_QTY_NEW,
	CURRENT_RATE = format(round(@CURRENT_RATE,2),'N2'),
	RATE_TO_CLIENT = format(ROUND(@RATE_TO_CLIENT,2),'N2'),
	COMM_COMPANY = @COMM_COMPANY,
	COMM_DREAM = @COMM_DREAM,
	AMOUNT_TOTAL = round(@FX_QTY_NEW * @RATE_TO_CLIENT ,0),
		AMOUNT_COMPANY = ROUND(@FX_QTY_NEW * @COMM_COMPANY,0),
		AMOUNT_DREAM = ROUND(@FX_QTY_NEW * @COMM_DREAM,0),
		DT_UPD = GETDATE()
	WHERE BUY_SUB_ID = @BUY_SUB_ID
END
GO
/****** Object:  StoredProcedure [dbo].[truncateLive]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[truncateLive] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	truncate table live_curr_rate
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAdminBuy]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateAdminBuy]
	-- Add the parameters for the stored procedure here
		@AMOUNT_TOTAL_INVOICE float,
		@AMOUNT_COMPANY_INVOICE float ,
		@RATE_TO_CLIENT_INVOICE float,
		@BUY_SUB_ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
UPDATE TRN_BUY_SUB SET AMOUNT_TOTAL_INVOICE = @AMOUNT_TOTAL_INVOICE, AMOUNT_COMPANY_INVOICE= @AMOUNT_COMPANY_INVOICE ,
RATE_TO_CLIENT_INVOICE= @RATE_TO_CLIENT_INVOICE WHERE BUY_SUB_ID = @BUY_SUB_ID
    -- Insert statements for procedure here
SELECT TRN_BUY.BUY_ID, TRN_BUY.BOOKING_NO, TRN_BUY.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME AS [Pay Mode], TRN_BUY.AMT_ADVANCE, 
                  TRN_BUY.DT_ADVANCE, TRN_BUY_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_BUY_SUB.CURR_CODE, TRN_BUY_SUB.FX_QTY,
				  TRN_BUY.ONLINE_TRANS_ID, TRN_BUY.AMT_ONLINE, TRN_BUY.INVOICE_ID, TRN_BUY.DT_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT,  TRN_BUY_SUB.AMOUNT_TOTAL, 
				  TRN_BUY_SUB.AMOUNT_TOTAL_INVOICE, TRN_BUY_SUB.AMOUNT_COMPANY_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT_INVOICE
      
FROM     MST_USER_MEMBER RIGHT OUTER JOIN
                  MST_USER ON MST_USER_MEMBER.LOGIN_ID = MST_USER.LOGIN_ID RIGHT OUTER JOIN
				     TRN_BUY LEFT OUTER JOIN  TRN_BUY_SUB ON TRN_BUY.BUY_ID = TRN_BUY_SUB.BUY_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_BUY_SUB.PROD_ID = MST_PRODUCT.PROD_ID ON MST_USER.LOGIN_ID = TRN_BUY.LOGIN_ID
WHERE  (TRN_BUY.DEAL_CLOSED = 0) OR
                  (TRN_BUY.DEAL_CLOSED IS NULL)
GROUP BY TRN_BUY.BUY_ID, TRN_BUY.BOOKING_NO, TRN_BUY.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME, TRN_BUY.AMT_ADVANCE, 
                  TRN_BUY.DT_ADVANCE, TRN_BUY_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_BUY_SUB.CURR_CODE, TRN_BUY_SUB.FX_QTY,
				  TRN_BUY.ONLINE_TRANS_ID, TRN_BUY.AMT_ONLINE, TRN_BUY.INVOICE_ID, TRN_BUY.DT_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT, TRN_BUY_SUB.AMOUNT_TOTAL ,
				  TRN_BUY_SUB.AMOUNT_TOTAL_INVOICE, TRN_BUY_SUB.AMOUNT_COMPANY_INVOICE, TRN_BUY_SUB.RATE_TO_CLIENT_INVOICE
ORDER BY TRN_BUY.DT_BOOKING DESC

 
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAdminSell]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateAdminSell]
	-- Add the parameters for the stored procedure here
		@AMOUNT_TOTAL_INVOICE float,
		@AMOUNT_COMPANY_INVOICE float ,
		@RATE_TO_CLIENT_INVOICE float,
		@SELL_SUB_ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
UPDATE TRN_SELL_SUB SET AMOUNT_TOTAL_INVOICE = @AMOUNT_TOTAL_INVOICE, AMOUNT_COMPANY_INVOICE= @AMOUNT_COMPANY_INVOICE ,
RATE_TO_CLIENT_INVOICE= @RATE_TO_CLIENT_INVOICE WHERE SELL_SUB_ID = @SELL_SUB_ID
    -- Insert statements for procedure here
SELECT TRN_SELL.SELL_ID, TRN_SELL.BOOKING_NO, TRN_SELL.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME AS [Pay Mode], TRN_SELL.AMT_ADVANCE, 
                  TRN_SELL.DT_ADVANCE, TRN_SELL_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_SELL_SUB.CURR_CODE, TRN_SELL_SUB.FX_QTY,
				  TRN_SELL.ONLINE_TRANS_ID, TRN_SELL.AMT_ONLINE, TRN_SELL.INVOICE_ID, TRN_SELL.DT_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT,  TRN_SELL_SUB.AMOUNT_TOTAL, 
				  TRN_SELL_SUB.AMOUNT_TOTAL_INVOICE, TRN_SELL_SUB.AMOUNT_COMPANY_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT_INVOICE
      
FROM     MST_USER_MEMBER RIGHT OUTER JOIN
                  MST_USER ON MST_USER_MEMBER.LOGIN_ID = MST_USER.LOGIN_ID RIGHT OUTER JOIN
				     TRN_SELL LEFT OUTER JOIN  TRN_SELL_SUB ON TRN_SELL.SELL_ID = TRN_SELL_SUB.SELL_ID LEFT OUTER JOIN
                  MST_PRODUCT ON TRN_SELL_SUB.PROD_ID = MST_PRODUCT.PROD_ID ON MST_USER.LOGIN_ID = TRN_SELL.LOGIN_ID
WHERE  (TRN_SELL.DEAL_CLOSED = 0) OR
                  (TRN_SELL.DEAL_CLOSED IS NULL)
GROUP BY TRN_SELL.SELL_ID, TRN_SELL.BOOKING_NO, TRN_SELL.DT_BOOKING, MST_USER.LOGIN_ID, MST_USER.MEM_NAME, MST_USER.MOBILENO, MST_USER.EMAILID, MST_PRODUCT.PROD_NAME, TRN_SELL.AMT_ADVANCE, 
                  TRN_SELL.DT_ADVANCE, TRN_SELL_SUB.PROD_ID, MST_USER_MEMBER.STATE_ID, TRN_SELL_SUB.CURR_CODE, TRN_SELL_SUB.FX_QTY,
				  TRN_SELL.ONLINE_TRANS_ID, TRN_SELL.AMT_ONLINE, TRN_SELL.INVOICE_ID, TRN_SELL.DT_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT, TRN_SELL_SUB.AMOUNT_TOTAL ,
				  TRN_SELL_SUB.AMOUNT_TOTAL_INVOICE, TRN_SELL_SUB.AMOUNT_COMPANY_INVOICE, TRN_SELL_SUB.RATE_TO_CLIENT_INVOICE
ORDER BY TRN_SELL.DT_BOOKING DESC

 
END
GO
/****** Object:  StoredProcedure [dbo].[updateBuyLoginId]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateBuyLoginId] 
	-- Add the parameters for the stored procedure here
	@orderNo varchar(75),
	@loginId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update TRN_BUY set LOGIN_ID = @loginId where booking_no = @orderNo
END
GO
/****** Object:  StoredProcedure [dbo].[updateINRliveRate]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateINRliveRate] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	declare @inr float
	select @inr = curr_rate from LIVE_CURR_RATE where CURR_CODE = 'INR'
	select @inr

	update LIVE_CURR_RATE set curr_rate_inr = @inr/curr_rate
	END
GO
/****** Object:  StoredProcedure [dbo].[updateOfficeUser]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateOfficeUser] 
	-- Add the parameters for the stored procedure here
		@OFF_ID int,
		@Password varchar(15) = null ,
		@OFF_USER_NAME varchar(50),
		@OFF_NAME varchar(50),
		@MOBILENO varchar(10),
		@EMAIL varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	IF(@Password IS NULL OR @Password = '')
	begin
	UPDATE [MST_OFFICE_USER] 
			SET [OFF_USER_NAME] = @OFF_USER_NAME, 
			[OFF_NAME] = @OFF_NAME, 
			[MOBILENO] = @MOBILENO, 
			[EMAIL] = @EMAIL, 
			[DT_UPD] = GETDATE() WHERE [OFF_ID] = @OFF_ID
	end
	else
	begin
	declare @SALT UNIQUEIDENTIFIER=NEWID()
    -- Insert statements for procedure here
	UPDATE [MST_OFFICE_USER] 
			SET [OFF_USER_NAME] = @OFF_USER_NAME, 
			[OFF_NAME] = @OFF_NAME, 
			[PWDHASH] = HASHBYTES('SHA2_512', @Password+CAST(@SALT AS varchar(36))), 
			[SALT] = @SALT, 
			[MOBILENO] = @MOBILENO, 
			[EMAIL] = @EMAIL, 
			[DT_UPD] = GETDATE() WHERE [OFF_ID] = @OFF_ID
	end
END
GO
/****** Object:  StoredProcedure [dbo].[updateOtp]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateOtp]
	-- Add the parameters for the stored procedure here
	@OTP char(5),
	@LOGIN_ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
UPDATE [MST_USER] SET [OTP] = @OTP, [DT_OTP] = getdate() WHERE [LOGIN_ID] = @LOGIN_ID
END
GO
/****** Object:  StoredProcedure [dbo].[updatePassword]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updatePassword]
	-- Add the parameters for the stored procedure here
	@loginId int,
	@pwd varchar(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DECLARE @salt UNIQUEIDENTIFIER=NEWID()

	update MST_USER set PWDHASH = HASHBYTES('SHA2_512', @pwd+CAST(@salt AS varchar(36))), salt = @salt where LOGIN_ID = @loginId
END
GO
/****** Object:  StoredProcedure [dbo].[updateSellLoginId]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateSellLoginId] 
	-- Add the parameters for the stored procedure here
	@orderNo varchar(75),
	@loginId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update TRN_Sell set LOGIN_ID = @loginId where booking_no = @orderNo
END
GO
/****** Object:  StoredProcedure [dbo].[updateVisaLoginId]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateVisaLoginId] 
	-- Add the parameters for the stored procedure here
	@orderNo varchar(75),
	@loginId int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update TRN_VISA set LOGIN_ID = @loginId where booking_no = @orderNo
END
GO
/****** Object:  StoredProcedure [dbo].[visaInsert]    Script Date: 19-02-2023 12:31:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[visaInsert]
	-- Add the parameters for the stored procedure here
	@BOOKING_NO varchar(75),
	 @PROD_ID int,
	 @COUNTRY_ID int,
	 @VISA_REMARKS varchar(500),
	 @visaId int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [TRN_VISA] ([BOOKING_NO], [DT_BOOKING],  [PROD_ID], [COUNTRY_ID],[VISA_REMARKS]) 
	VALUES (@BOOKING_NO, getdate(),  @PROD_ID,  @COUNTRY_ID, @VISA_REMARKS)

	Select @visaId = @@IDENTITY
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'WHETHER COMES FROM BOOKING OR WALKIN (B,W)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'INVOICE', @level2type=N'COLUMN',@level2name=N'BOOKING_FLAG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'BUY_ID/SELL_ID - B/S/V[YYMMDD]NNNN' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MST_INVOICE', @level2type=N'COLUMN',@level2name=N'ORDER_NO'
GO
USE [master]
GO
